@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kumbh+Sans:wght@100..900&family=Pacifico&display=swap");

:root {
  --font-family-heading: "Kumbh Sans", serif;
  --font-family-text: "DM Sans", serif;
  --font-family-logo: "Pacifico", cursive;

  --black-color: #0f0f0f;
  --white-color: #ffffff;
  --dark-gray-color: #848484;
  --primary-color: #c70905;
  --primary-hover-color: #d60707;

  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 6rem;

  --margin-xs: var(--spacing-xs);
  --margin-s: var(--spacing-s);
  --margin-m: var(--spacing-m);
  --margin-l: var(--spacing-l);
  --margin-xl: var(--spacing-xl);

  --padding-xs: var(--spacing-xs);
  --padding-s: var(--spacing-s);
  --padding-m: var(--spacing-m);
  --padding-l: var(--spacing-l);
  --padding-xl: var(--spacing-xl);
  --padding-xxl: var(--spacing-xxl);

  --gap-xs: var(--spacing-xs);
  --gap-s: var(--spacing-s);
  --gap-m: var(--spacing-m);
  --gap-l: var(--spacing-l);
  --gap-xl: var(--spacing-xl);

  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-l: 16px;
  --border-radius-xl: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-family-text);
  background-color: var(--black-color);
  color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
